parameters:
	ignoreErrors:
		-
			message: "#^Attribute class TYPO3\\\\CMS\\\\Extbase\\\\Annotation\\\\Access does not exist\\.$#"
			count: 2
			path: Classes/Controller/SchedulerController.php

		-
			message: "#^Call to method assign\\(\\) on an unknown class TYPO3\\\\CMS\\\\Extbase\\\\Mvc\\\\View\\\\ViewInterface\\.$#"
			count: 3
			path: Classes/Controller/SchedulerController.php

		-
			message: "#^Parameter \\$view of method Ndrstmr\\\\Dt3Pace\\\\Controller\\\\SchedulerController\\:\\:initializeView\\(\\) has invalid type TYPO3\\\\CMS\\\\Extbase\\\\Mvc\\\\View\\\\ViewInterface\\.$#"
			count: 1
			path: Classes/Controller/SchedulerController.php

		-
			message: "#^Parameter \\#1 \\$values of attribute class TYPO3\\\\CMS\\\\Extbase\\\\Annotation\\\\IgnoreValidation constructor expects array\\{value\\?\\: non\\-empty\\-string, argumentName\\?\\: non\\-empty\\-string\\}, 'session' given\\.$#"
			count: 1
			path: Classes/Controller/SessionController.php

		-
			message: "#^Parameter \\#1 \\$values of attribute class TYPO3\\\\CMS\\\\Extbase\\\\Annotation\\\\IgnoreValidation constructor expects array\\{value\\?\\: non\\-empty\\-string, argumentName\\?\\: non\\-empty\\-string\\}, 'speaker' given\\.$#"
			count: 1
			path: Classes/Controller/SpeakerController.php

		-
			message: "#^Attribute class Doctrine\\\\ORM\\\\Mapping\\\\Entity does not exist\\.$#"
			count: 1
			path: Classes/Domain/Model/FrontendUser.php

		-
			message: "#^Attribute class Doctrine\\\\ORM\\\\Mapping\\\\Table does not exist\\.$#"
			count: 1
			path: Classes/Domain/Model/FrontendUser.php

		-
			message: "#^Attribute class Doctrine\\\\ORM\\\\Mapping\\\\Column does not exist\\.$#"
			count: 1
			path: Classes/Domain/Model/Note.php

		-
			message: "#^Attribute class Doctrine\\\\ORM\\\\Mapping\\\\Entity does not exist\\.$#"
			count: 1
			path: Classes/Domain/Model/Note.php

		-
			message: "#^Attribute class Doctrine\\\\ORM\\\\Mapping\\\\ManyToOne does not exist\\.$#"
			count: 2
			path: Classes/Domain/Model/Note.php

		-
			message: "#^Attribute class Doctrine\\\\ORM\\\\Mapping\\\\Table does not exist\\.$#"
			count: 1
			path: Classes/Domain/Model/Note.php

		-
			message: "#^Attribute class Doctrine\\\\ORM\\\\Mapping\\\\Column does not exist\\.$#"
			count: 2
			path: Classes/Domain/Model/Room.php

		-
			message: "#^Attribute class Doctrine\\\\ORM\\\\Mapping\\\\Entity does not exist\\.$#"
			count: 1
			path: Classes/Domain/Model/Room.php

		-
			message: "#^Attribute class Doctrine\\\\ORM\\\\Mapping\\\\Table does not exist\\.$#"
			count: 1
			path: Classes/Domain/Model/Room.php

		-
			message: "#^Attribute class Doctrine\\\\ORM\\\\Mapping\\\\Column does not exist\\.$#"
			count: 6
			path: Classes/Domain/Model/Session.php

		-
			message: "#^Attribute class Doctrine\\\\ORM\\\\Mapping\\\\Entity does not exist\\.$#"
			count: 1
			path: Classes/Domain/Model/Session.php

		-
			message: "#^Attribute class Doctrine\\\\ORM\\\\Mapping\\\\ManyToMany does not exist\\.$#"
			count: 1
			path: Classes/Domain/Model/Session.php

		-
			message: "#^Attribute class Doctrine\\\\ORM\\\\Mapping\\\\ManyToOne does not exist\\.$#"
			count: 4
			path: Classes/Domain/Model/Session.php

		-
			message: "#^Attribute class Doctrine\\\\ORM\\\\Mapping\\\\OneToOne does not exist\\.$#"
			count: 1
			path: Classes/Domain/Model/Session.php

		-
			message: "#^Attribute class Doctrine\\\\ORM\\\\Mapping\\\\Table does not exist\\.$#"
			count: 1
			path: Classes/Domain/Model/Session.php

		-
			message: "#^Attribute class Doctrine\\\\ORM\\\\Mapping\\\\Column does not exist\\.$#"
			count: 4
			path: Classes/Domain/Model/Speaker.php

		-
			message: "#^Attribute class Doctrine\\\\ORM\\\\Mapping\\\\Entity does not exist\\.$#"
			count: 1
			path: Classes/Domain/Model/Speaker.php

		-
			message: "#^Attribute class Doctrine\\\\ORM\\\\Mapping\\\\ManyToOne does not exist\\.$#"
			count: 1
			path: Classes/Domain/Model/Speaker.php

		-
			message: "#^Attribute class Doctrine\\\\ORM\\\\Mapping\\\\Table does not exist\\.$#"
			count: 1
			path: Classes/Domain/Model/Speaker.php

		-
			message: "#^Attribute class Doctrine\\\\ORM\\\\Mapping\\\\Column does not exist\\.$#"
			count: 2
			path: Classes/Domain/Model/TimeSlot.php

		-
			message: "#^Attribute class Doctrine\\\\ORM\\\\Mapping\\\\Entity does not exist\\.$#"
			count: 1
			path: Classes/Domain/Model/TimeSlot.php

		-
			message: "#^Attribute class Doctrine\\\\ORM\\\\Mapping\\\\Table does not exist\\.$#"
			count: 1
			path: Classes/Domain/Model/TimeSlot.php

		-
			message: "#^Attribute class Doctrine\\\\ORM\\\\Mapping\\\\Column does not exist\\.$#"
			count: 1
			path: Classes/Domain/Model/Track.php

		-
			message: "#^Attribute class Doctrine\\\\ORM\\\\Mapping\\\\Entity does not exist\\.$#"
			count: 1
			path: Classes/Domain/Model/Track.php

		-
			message: "#^Attribute class Doctrine\\\\ORM\\\\Mapping\\\\Table does not exist\\.$#"
			count: 1
			path: Classes/Domain/Model/Track.php

		-
			message: "#^Attribute class Doctrine\\\\ORM\\\\Mapping\\\\Entity does not exist\\.$#"
			count: 1
			path: Classes/Domain/Model/Vote.php

		-
			message: "#^Attribute class Doctrine\\\\ORM\\\\Mapping\\\\ManyToOne does not exist\\.$#"
			count: 2
			path: Classes/Domain/Model/Vote.php

		-
			message: "#^Attribute class Doctrine\\\\ORM\\\\Mapping\\\\Table does not exist\\.$#"
			count: 1
			path: Classes/Domain/Model/Vote.php
		-
			message: "#^Instantiated class Doctrine\\\\ORM\\\\Mapping\\\\UniqueConstraint not found\\.$#"
			count: 1
			path: Classes/Domain/Model/Vote.php

		-
			message: "#^Class Ndrstmr\\\\Dt3Pace\\\\Domain\\\\Repository\\\\FrontendUserRepository extends generic class TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\Repository but does not specify its types\\: T$#"
			count: 1
			path: Classes/Domain/Repository/FrontendUserRepository.php

		-
			message: "#^Class Ndrstmr\\\\Dt3Pace\\\\Domain\\\\Repository\\\\NoteRepository extends generic class TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\Repository but does not specify its types\\: T$#"
			count: 1
			path: Classes/Domain/Repository/NoteRepository.php

		-
			message: "#^Method Ndrstmr\\\\Dt3Pace\\\\Domain\\\\Repository\\\\NoteRepository\\:\\:findByUser\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Domain/Repository/NoteRepository.php

		-
			message: "#^Class Ndrstmr\\\\Dt3Pace\\\\Domain\\\\Repository\\\\RoomRepository extends generic class TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\Repository but does not specify its types\\: T$#"
			count: 1
			path: Classes/Domain/Repository/RoomRepository.php

		-
			message: "#^Class Ndrstmr\\\\Dt3Pace\\\\Domain\\\\Repository\\\\SessionRepository extends generic class TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\Repository but does not specify its types\\: T$#"
			count: 1
			path: Classes/Domain/Repository/SessionRepository.php

		-
			message: "#^Method Ndrstmr\\\\Dt3Pace\\\\Domain\\\\Repository\\\\SessionRepository\\:\\:findProposed\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Domain/Repository/SessionRepository.php

		-
			message: "#^Method Ndrstmr\\\\Dt3Pace\\\\Domain\\\\Repository\\\\SessionRepository\\:\\:findProposedOrUnscheduled\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Domain/Repository/SessionRepository.php

		-
			message: "#^Method Ndrstmr\\\\Dt3Pace\\\\Domain\\\\Repository\\\\SessionRepository\\:\\:findPublishedAndScheduled\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Domain/Repository/SessionRepository.php

		-
			message: "#^Class Ndrstmr\\\\Dt3Pace\\\\Domain\\\\Repository\\\\SpeakerRepository extends generic class TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\Repository but does not specify its types\\: T$#"
			count: 1
			path: Classes/Domain/Repository/SpeakerRepository.php

		-
			message: "#^Class Ndrstmr\\\\Dt3Pace\\\\Domain\\\\Repository\\\\TimeSlotRepository extends generic class TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\Repository but does not specify its types\\: T$#"
			count: 1
			path: Classes/Domain/Repository/TimeSlotRepository.php

		-
			message: "#^Class Ndrstmr\\\\Dt3Pace\\\\Domain\\\\Repository\\\\VoteRepository extends generic class TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\Repository but does not specify its types\\: T$#"
			count: 1
			path: Classes/Domain/Repository/VoteRepository.php

		-
			message: "#^Cannot access offset 'success' on mixed\\.$#"
			count: 1
			path: Tests/Unit/Controller/NoteControllerTest.php
